html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #740001;
  margin: auto;
    width: 100%
}

a {
  color: #0088cc; 
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 1em 3em;
  color: #404040;
  border-left: 2px solid #404040;
  padding-left: 1em;
}

h2 {
  color: #7f7f7f; 
  font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif; 
  font-style: normal; 
  font-weight: 400;
}

img {
  max-width: 100%; 
  height: auto;
}

p {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  line-height: 1.5em;
}

.sub {
  color: #404040;
  font-size: 1.25em;
  font-weight: bold;
}

.quick {
  font-weight: bolder;
  letter-spacing: .25em;
}

.header {
  background: #d0d0d0;
  width: 100%
}


/* Start Social Icons */
.social ul, .social li{
  float: right;
  list-style: none;
  margin: 2px;
}

.social a{
  color: #ffffff;
  text-decoration: none;
}

.social a:hover{
  color: #590000;
}

.facebook-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/facebook.jpg) bottom;
border-radius: 50%;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.facebook-hover:hover {
background-position: 0 0;
}

.google-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/google.jpg) bottom;
border-radius: 50%;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.google-hover:hover {
background-position: 0 0;
}

.instagram-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/instagram.jpg) bottom;
border-radius: 50%;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.instagram-hover:hover {
background-position: 0 0;
}

.reddit-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/reddit.jpg) bottom;
border-radius: 50%;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.reddit-hover:hover {
background-position: 0 0;
}

.twitter-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/twitter.jpg) bottom;
border-radius: 50%;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.twitter-hover:hover {
background-position: 0 0;
}

.youtube-hover {
display: block;
width: 40px;
height: 40px;
background: url(images/youtube.jpg) bottom;
border-radius: 50%;
text-indent: -99999px;
margin-right: 5px;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.youtube-hover:hover {
background-position: 0 0;
}
/* End Social Icons */

/* Start Navigation Menu */
.nav a{
   text-decoration: none;
   background-color: inherit;
   color: inherit;
   font-weight: normal;
}

.nul{
   background-color: #eeba30;
   color: #ffffff;
   display: block;
   font-size: 1em;
   margin: 0;
   overflow: hidden;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
   -webkit-transition: max-height 0.4s;
   -ms-transition: max-height 0.4s;
   -moz-transition: max-height 0.4s;
   -o-transition: max-height 0.4s;
   transition: max-height 0.4s;
}

.nul li{
   display: inline-block;
   padding: 10px;
}

.nul li:hover{
   background: #d3a625;
}

.mobilenav {
   background: #eeba30;
   box-sizing: border-box;
   color: white;
   cursor: pointer;
   display: none;
   padding: 15px 10px;
   text-align: left;
   width: 100%;
}
/* End Navigation Menu */

.content {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%
}

.wrapper {
  padding: 10px;
}

/* Start Slider */
.rslides {
  clear: both;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.rslides li {
  display: none;
  left: 0;]
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.caption {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
  background: #000;
  background: rgba(0,0,0, .8);
  color: #fff;
}
/* End Slider */

.sponsor-logos li{
  float: left;
  list-style: none;
}

#regionals, #news, #committees, #braverybrewing, #roboweek, #robonight, #blooddrive, #srw, #game, #frc, #ftc, #fll, #impact, #sponsorship {
  display: none;
  margin-left: 2em;
}

.teamfacts, .updates, .awards, .totalawards, .contactinfo {
  margin-bottom: 1em;
}

.updates li, .teamfacts li, #regionals li, .awards li, #game li, .sponsors {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  line-height: 1.5em;
  list-style: none;
}

.links {
  color: #7c7c7c;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; 
  line-height: 1.5em;
  list-style: none;
}

/* Start Footer */
.footer {
  background: #666;
  margin-bottom: 10px;
  width: 100%;
}

.footer a {
  color: #00B0FF;
  font-weight: normal;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/* End Footer */

/*Start Mailing List*/
.fname, .lname, .email {
  padding: 4px;
}

.fname:focus, .lname:focus, .email:focus {
  background: #e8e8e8;
  box-shadow: none;
}

.submit {
  background-color: #eeba30;
  border: none;
  color: #ffffff;
  font-size: 1em;
  margin-left: -5px;
  padding: 4px;
}
/*End Mailing List */

/* Start Back to Top */
.go-top {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  bottom: 2em;
  color: white;
  display: none;
  font-size: 12px;
  padding: 2em;
  position: fixed;
  right: 2em;
  text-decoration: none;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
/* End Back to Top */

/* Start Media Display */

@media screen and (max-width: 875px){
  .nul {
      max-height: 0;
  }
   
  .showing {
      max-height: 30em;    
  }
   
   .nul li {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      text-align: left;
    }
   
    .mobilenav {
      display: block;
    }
}

@media screen and (max-width: 720px) {
  .column-2-1, .column-2-2 {
    clear: both;
  }

  .calendar {
    height: 300px;
  }
}

@media screen and (min-width: 720px) {
  .column-2-1 {
      float: left;
    }

    .column-2-2 {
      float: right;
    }

    .calendar {
      height: 600px;
    }
}

@media screen and (max-width: 370px) {
  .logo {
    width: 100%;
  }
}

@media screen and (min-width: 370px) {
  .logo {
    width: 60%;
  }
}

@media screen and (min-width: 960px){
  body, .social, .nav ul, .content, .footer, .timeline, .calendar, .location {
      width: 960px;
    }
}

@media handheld and (min-width: 260px){
  body, .social, .nav ul, .content, .footer, .timeline, .calendar, .location {
    width: 260px;
  }

  .calendar {
    height: 100px;
  }
}
/* End Media Display */